@model ICollection<VetSystem.Web.Areas.VetClinics.ViewModels.ClinicViewModel>

@foreach (var clinic in Model)
{
    <h1>
        <a href="@clinic.Url">@clinic.Name</a>
    </h1>
    <div>
        Rating: @clinic.RatingCount
    </div>
    <div>
        City: @clinic.CityName
    </div>
    <div>
        Pets in this clinic: @clinic.PetsCount
    </div>
    <hr />
}