@model ICollection<VetSystem.Web.Areas.VetClinics.ViewModels.ClinicViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var clinic in Model)
{
    <div>
        <h3> Rating:</h3>
        <div>

            @if (this.User.Identity.IsAuthenticated)
            {
                for (int i = 1; i <= 5; i++)
                {
                    <span class="glyphicon glyphicon-star-empty" data-id="@clinic.Id" data-value="@i" aria-hidden="true"></span>
                }
            }

            <div>
                Current rating:
                <span data-id="@clinic.Id" data-value="ratingValue">@clinic.RatingCount</span>
            </div>
        </div>
    </div>
    <div>
        Name: @clinic.Name
    </div>
    <div>
        Owner: @clinic.OwnerName
    </div>
    <div>
        Information: @clinic.Information
    </div>
    <div>
        Pets: @clinic.PetsCount
    </div>
    <hr />
}

<style>
    span.glyphicon.glyphicon-star-empty, span.glyphicon.glyphicon-star {
        cursor: pointer;
    }
</style>

@section scripts {

    @Scripts.Render("~/bundles/rating")

    <script>
        $("span[data-value='1']").click(function () {
            var id = $(this).attr("data-id");
            makeRating(id, 1);
        })

        $("span[data-value='2']").click(function () {
            var id = $(this).attr("data-id");
            makeRating(id, 2);
        })

        $("span[data-value='3']").click(function () {
            var id = $(this).attr("data-id");
            makeRating(id, 3);
        })

        $("span[data-value='4']").click(function () {
            var id = $(this).attr("data-id");
            makeRating(id, 4);
        })

        $("span[data-value='5']").click(function () {
            var id = $(this).attr("data-id");
            makeRating(id, 5);
        })

        function makeRating(itemId, ratingValue) {
            $.post("/Ratings/Rate", { itemId: itemId, ratingValue: ratingValue },
                function (data) {
                    var newRating = data.Rating;

                    var a = $("span[data-value='ratingValue'][data-id='" + itemId + "']").html(newRating);
                });
        }

    </script>
}

